.file_change_title Изменение файла favicon.ico
%br
Текущий файл:
%br
%img{src:'images/favicon.ico', vspace:'10px'}

%form{action:'/1', method:'post', enctype: 'multipart/form-data' }
  %input{type:'file', name:'myfile'}
  %br
  %input{type:'submit'}