%table
  %th Имя
  %th Размер
  %th Создан
  %th Действия
  -if has_parent
    %tr
      %td ...
      -3.times do
        %td
  -file_list.each do |file|
    %tr
      %td
        %a{href: file[:href]} =file[:name]
      %td =file[:size]
      %td =file[:created]
      %td
