%html
  %head
    %title #{@title}
    %link{rel:"shortcut icon", href: "/images/favicon.ico"}
    %link{rel: "stylesheet", href: "/css/styles.css"}
  %body
    %header
      .header_body < header >
    .content
      .menu < nav >
      .main-content
        =yield
    %footer
      .footer_body < footer >

