header {
    width: 100%;
    height: 100px;
    background: #ccc;
    text-align: center;
    line-height: 100px;
    font-size: 24pt;
    margin-bottom: 10px;
}

.file_change_title {
    font: 14pt ruby;
    text-align: center;
    font-weight: bold;
}

.content {
    width: 100%;
    height: 430px;
}

body {
    margin: 0px;
}

.menu {
    width: 300px;
    height: 400px;
    background: #ccb95f;
    text-align: center;
    line-height: 400px;
    font-size: 24pt;
    float: left;
}

.main-content {
    padding: 10px;
    margin-left: 300px;
}

footer {
    width: 100%;
    height: 100px;
    background: #ccc;
    text-align: center;
    line-height: 100px;
    font-size: 24pt;
    margin-top: 10px;
}